<div class="row" [formGroup]="form" [id]="id">
  <div class="col-12">
    <app-text-input [id]="id + '-street'" name="street" label="Street" formControlName="street"></app-text-input>
  </div>
  <div class="col-12 col-sm-4">
    <app-text-input [id]="id + '-city'" name="city" label="City" formControlName="city"></app-text-input>
  </div>
  <div class="col-6 col-sm-4">
    <app-text-input [id]="id + '-state'" name="state" label="State" formControlName="state"></app-text-input>
  </div>
  <div class="col-6 col-sm-4">
    <app-text-input [id]="id + '-zip-code'" name="zip-code" label="Zip Code" formControlName="zipCode"></app-text-input>
  </div>
</div>
